button#butt{
    width: 200px;
    height: 40px;
    background-color: white;
    color: black;
    box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
    font-weight: bold;
    font-size: 16xp;
    border-radius: 20px;
}
button#butt:focus{
    outline: 0;
}

button#but2{
    margin-left: 51%;
    width: 450px;
    height: 100px;
    background-color: #FFACBC;
    color: black;
    box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
    font-weight: bold;
    font-size: 40xp;
    border-radius: 20px;
}