body{font-family: Arial, Helvetica, sans-serif; margin: 0;}
h1 {text-align: center;}
.container {display: flex; margin-left: 25%;}
#fakeimg { margin-top: 20px; width: 500px; height: 600px; background-color: antiquewhite;}
.article {margin-left: 50px;}
table tr th{text-align: start;}
table tr td{padding-left: 60px;}
#color {margin-left: 112px;}
#size {margin-left: 96px;}
#buy {background-color: black; color: white; width: 450px; height: 50px;}
#basket {background-color: white; border-color: rgb(214, 210, 214); width: 220px; height: 50px; margin-top: 10px;}
#login {background-color: white; border-color: rgb(214, 210, 214); width: 220px; height: 50px; margin-top: 10px; margin-left: 10px;}
#buy:hover{background-color: white; border-color: black; color: black;}
#basket:hover{border-color: black;}
#login:hover {border-color: black;}
footer { display: flex; margin-top: 120px;}
/* Navbar */
.navbar {
    text-transform: uppercase;
    font-weight: 700; 
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6)!important;

}

.navbar-brand img{
    height: 3rem;
}

.navbar-nav li{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #4FC3F7;   
}
